.channel__container{
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 1rem;
}
.channel__container:hover{
    background: lightgray;
    cursor: pointer;
}
.channel__detail{
    flex: 1;
    max-width: 100%;
   align-items: center;
     font-weight: 700;
}
.inside__detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
      font-family: monospace;
     
}
.inside__detail > h3{
    text-transform: capitalize;
    font-size: 15px;
  
}
.inside__detail > small{
    font-size: 10px;
    color: gray;
}
.channel__detail > p{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-break: break-all;

}